In [1]:
# recent four week
# 2023 ytd
# 复用计算
import pandas as pd
from datetime import datetime
from pandas import ExcelWriter

In [2]:
# exist_data = pd.read_excel('2023 Product Benchmark --29.xlsx', 'Market Share')
# file = pd.read_csv("New Microsoft Excel Worksheet.csv")
file = pd.read_csv("Product Benchmark MS_547.csv", encoding='windows-1252')
col_lst = ['Time Period(s)','Size Cluster','Quantum Dot Technology','TV Series','Brand','Outlet','Price Cluster',
           'Software Service Name','Dollars','Units ']
file.columns = col_lst
file = file.drop(file.index[0:3]).reset_index()
file = file.drop('index', axis = 1)
file = file.dropna()
file

,Time Period(s),Size Cluster,Quantum Dot Technology,TV Series,Brand,Outlet,Price Cluster,Software Service Name,Dollars,Units
0,Jan 01 2023 - Jan 07 2023,< 32,Not Specified,Not Specified,All Other (Suppressed),Remaining Retail,<200$,No Software Service,$110,1
1,Jan 01 2023 - Jan 07 2023,< 32,Not Specified,No TV Series,beFree Sound,Remaining Retail,<200$,No Software Service,"$2,355",16
2,Jan 01 2023 - Jan 07 2023,< 32,Not Specified,No TV Series,Private Label 62659,walmart.com,<200$,No Software Service,$464,4
3,Jan 01 2023 - Jan 07 2023,< 32,Not Specified,No TV Series,All Other (Suppressed),Remaining Retail,<200$,No Software Service,"-$8,839",-71
4,Jan 01 2023 - Jan 07 2023,< 32,Quantum Dots Not Included,Not Specified,GPX,Remaining Retail,<200$,No Software Service,$220,2
...,...,...,...,...,...,...,...,...,...,...
57969,Aug 06 2023 - Aug 12 2023,Others,Not Specified,Not Specified,All Other (Suppressed),Remaining Retail,<200$,Not Specified,$300,2
57970,Aug 06 2023 - Aug 12 2023,Others,Not Specified,Not Specified,All Other (Suppressed),Remaining Retail,300$-500$,Not Specified,"$2,616",8
57971,Aug 06 2023 - Aug 12 2023,Others,Quantum Dots Not Included,LG StanbyME Series,LG,Sam's Club,800$-1000$,LG-webOS 6.0 SMART TV,"$21,732",24
57972,Aug 06 2023 - Aug 12 2023,Others,Quantum Dots Not Included,LG StanbyME Series,LG,samsclub.com,800$-1000$,LG-webOS 6.0 SMART TV,"$4,995",5
57973,Aug 06 2023 - Aug 12 2023,Others,Quantum Dots Not Included,LG StanbyME Series,LG,Remaining Retail,800$-1000$,LG-webOS 6.0 SMART TV,"$324,328",330

In [3]:
DS_list = []
PS_list = []
Weeks_list = []
Brand_list = ['VIZIO','Samsung','Hisense','Sony','LG','TCL']
year_size = 52
cur_year = 2023

size_list = ['32','40','43','50','55-58','65','70','75','77+']
price_list = ['<500$', '500$-700$', '700$-800$','800$-1000$','1000$-1500$','1500$-2000$','2000$+']

Weeks_list = file["Time Period(s)"].unique().tolist()
weeks_lists = [Weeks_list[i : i + year_size] for i in range(0, len(Weeks_list), year_size)]

file["Price Cluster"] = file["Price Cluster"].replace('<200$', '<500$')
file["Price Cluster"] = file["Price Cluster"].replace('200$-300$', '<500$')
file["Price Cluster"] = file["Price Cluster"].replace('300$-500$', '<500$')
file["Price Cluster"] = file["Price Cluster"].replace('2000$-2500$', '2000$+')
file["Price Cluster"] = file["Price Cluster"].replace('2500$+', '2000$+')  
                                                      
file['Size Cluster'] = file['Size Cluster'].replace('55','55-58')
file['Size Cluster'] = file['Size Cluster'].replace('58','55-58')   
file['Size Cluster'] = file['Size Cluster'].replace('>75','77+')

file['Dollars'] = file['Dollars'].astype(str)
file['Dollars'] = file['Dollars'].str.replace('(','-')
file['Dollars'] = file['Dollars'].str.replace(')','')
file['Dollars'] = file['Dollars'].str.replace('$','')
file['Dollars'] = file['Dollars'].str.replace(',','')
file['Dollars'] = file['Dollars'].astype(float)

file['Units '] = file['Units '].astype(str)
file['Units '] = file['Units '].str.replace(',','')
file['Units '] = file['Units '].astype(float)


file

C:\Users\jianhui.ding\AppData\Local\Temp\ipykernel_1764\2270482784.py:25: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  file['Dollars'] = file['Dollars'].str.replace('(','-')
C:\Users\jianhui.ding\AppData\Local\Temp\ipykernel_1764\2270482784.py:26: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  file['Dollars'] = file['Dollars'].str.replace(')','')
C:\Users\jianhui.ding\AppData\Local\Temp\ipykernel_1764\2270482784.py:27: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  file['Dollars'] = file['Dollars'].str.replace('$','')

,Time Period(s),Size Cluster,Quantum Dot Technology,TV Series,Brand,Outlet,Price Cluster,Software Service Name,Dollars,Units
0,Jan 01 2023 - Jan 07 2023,< 32,Not Specified,Not Specified,All Other (Suppressed),Remaining Retail,<500$,No Software Service,110.0,1.0
1,Jan 01 2023 - Jan 07 2023,< 32,Not Specified,No TV Series,beFree Sound,Remaining Retail,<500$,No Software Service,2355.0,16.0
2,Jan 01 2023 - Jan 07 2023,< 32,Not Specified,No TV Series,Private Label 62659,walmart.com,<500$,No Software Service,464.0,4.0
3,Jan 01 2023 - Jan 07 2023,< 32,Not Specified,No TV Series,All Other (Suppressed),Remaining Retail,<500$,No Software Service,-8839.0,-71.0
4,Jan 01 2023 - Jan 07 2023,< 32,Quantum Dots Not Included,Not Specified,GPX,Remaining Retail,<500$,No Software Service,220.0,2.0
...,...,...,...,...,...,...,...,...,...,...
57969,Aug 06 2023 - Aug 12 2023,Others,Not Specified,Not Specified,All Other (Suppressed),Remaining Retail,<500$,Not Specified,300.0,2.0
57970,Aug 06 2023 - Aug 12 2023,Others,Not Specified,Not Specified,All Other (Suppressed),Remaining Retail,<500$,Not Specified,2616.0,8.0
57971,Aug 06 2023 - Aug 12 2023,Others,Quantum Dots Not Included,LG StanbyME Series,LG,Sam's Club,800$-1000$,LG-webOS 6.0 SMART TV,21732.0,24.0
57972,Aug 06 2023 - Aug 12 2023,Others,Quantum Dots Not Included,LG StanbyME Series,LG,samsclub.com,800$-1000$,LG-webOS 6.0 SMART TV,4995.0,5.0
57973,Aug 06 2023 - Aug 12 2023,Others,Quantum Dots Not Included,LG StanbyME Series,LG,Remaining Retail,800$-1000$,LG-webOS 6.0 SMART TV,324328.0,330.0

In [4]:
def sum_calculation(table_name, col_name):
    return table_name[col_name].sum()

def fix_dataframe(df, size_price, ilist):
    # Set 'Size Cluster' as index, then reindex using size_list
    df = df.set_index(size_price).reindex(ilist)
        
    
    # Fill NaN values (this step is optional and depends on your requirement)
    df.fillna(0, inplace=True)
    
    # Reset the index
    return df.reset_index()

def YTD_claculation(file, file_brand, table_name, brand_name, weeks_lists, size_list, cur_year, ytd_colname,size_price):
    
    if table_name == 'Remaining Retail':
        if size_price == 'Size Cluster':
            ytd_table = file_brand[(file_brand['Time Period(s)'].isin(weeks_lists[-1])) 
                                   & (file_brand[size_price].isin(size_list))
                                   & (file_brand['Outlet'] == 'Remaining Retail')]
        else:
             ytd_table = file_brand[(file_brand['Time Period(s)'].isin(weeks_lists[-1])) 
                                   & (file_brand[size_price].isin(price_list))
                                   & (file_brand['Outlet'] == 'Remaining Retail')]

    else:
        if size_price == 'Size Cluster':
            ytd_table = file_brand[(file_brand['Time Period(s)'].isin(weeks_lists[-1])) 
                                   & (file_brand[size_price].isin(size_list))]
        else:
            ytd_table = file_brand[(file_brand['Time Period(s)'].isin(weeks_lists[-1])) 
                                   & (file_brand[size_price].isin(price_list))]
        
    if brand_name == 'Industry':
        if table_name == 'Remaining Retail':
            temp = file[(file['Time Period(s)'].isin(weeks_lists[-1])) & (file['Outlet'] == 'Remaining Retail')]
        else:
            temp = file[file['Time Period(s)'].isin(weeks_lists[-1])]
        ytd_sum = sum_calculation(temp, ytd_colname)
    else:
        if size_price == 'Size Cluster' and table_name == 'Remaining Retail':
            temp = file[(file['Time Period(s)'].isin(weeks_lists[-1]))
                        & (file[size_price].isin(size_list)) & (file['Outlet'] == 'Remaining Retail')]
        elif size_price == 'Size Cluster':
            temp = file[(file['Time Period(s)'].isin(weeks_lists[-1]))
                        & (file[size_price].isin(size_list))]
        else:
            temp = file[(file['Time Period(s)'].isin(weeks_lists[-1]))
                        & (file[size_price].isin(price_list))]
            
            
        ytd_sum = temp.groupby(size_price)[ytd_colname].sum().reset_index()
        if size_price == 'Size Cluster':
            ytd_sum = fix_dataframe(ytd_sum, size_price, size_list)
        else:
            ytd_sum = fix_dataframe(ytd_sum, size_price, price_list)
        ytd_sum = ytd_sum[ytd_colname]
        
        
    ds_ytd_table = ytd_table.groupby(size_price)[ytd_colname].sum().reset_index()
    
    if size_price == 'Size Cluster':
        ds_ytd_table = fix_dataframe(ds_ytd_table, size_price, size_list)
    else:
        ds_ytd_table = fix_dataframe(ds_ytd_table, size_price, price_list)
        
        
        
    if table_name == 'Unit number':
        ds_ytd_table[f'{cur_year}YTD'] = ds_ytd_table[ytd_colname] 
    else:
        
        if size_price == 'Price Cluster':
            ds_ytd_table[f'{cur_year}YTD'] = ds_ytd_table[ytd_colname] / ytd_sum * 100
            lst = ['500$+', 0]
            if brand_name == 'Industry':
                file_500pls_sum = file[(file['Time Period(s)'].isin(weeks_lists[-1]))
                                       & (file[size_price].isin(['500$-700$', '700$-800$','800$-1000$',
                                                                 '1000$-1500$','1500$-2000$','2000$+']))].sum()
                file_500pls_sum = file_500pls_sum['Dollars']
                
                
                file_500pls_sum_overall = file[(file['Time Period(s)'].isin(weeks_lists[-1]))
                                           & (file[size_price].isin(price_list))].sum()
                file_500pls_sum_overall = file_500pls_sum_overall['Dollars']
                
            else:
                file_500pls_sum = file_brand[(file_brand['Time Period(s)'].isin(weeks_lists[-1]))
                                             & (file_brand[size_price].isin(['500$-700$', '700$-800$','800$-1000$',
                                                                             '1000$-1500$','1500$-2000$','2000$+']))].sum()
                file_500pls_sum = file_500pls_sum['Dollars']
                
                file_500pls_sum_overall = file[(file['Time Period(s)'].isin(weeks_lists[-1]))
                                               & (file[size_price].isin(['500$-700$', '700$-800$','800$-1000$',
                                                                         '1000$-1500$','1500$-2000$','2000$+']))].sum()
                file_500pls_sum_overall = file_500pls_sum_overall['Dollars']
                
            result_500pls = file_500pls_sum / file_500pls_sum_overall * 100
            lst.append(result_500pls)
            lst_df = pd.DataFrame([lst], columns=ds_ytd_table.columns)
            ds_ytd_table = pd.concat([lst_df, ds_ytd_table], ignore_index=True)
        else:
            ds_ytd_table[f'{cur_year}YTD'] = ds_ytd_table[ytd_colname] / ytd_sum * 100

    ds_ytd_table = ds_ytd_table.drop(ytd_colname, axis=1)
    
    if table_name == 'Remaining Retail':
        file_total = file[(file['Time Period(s)'].isin(weeks_lists[-1]))
                         & (file['Outlet'] == 'Remaining Retail')]
        file_brand_total = file_brand[(file_brand['Time Period(s)'].isin(weeks_lists[-1])
                                      & (file_brand['Outlet'] == 'Remaining Retail'))]
    else:
        file_total = file[file['Time Period(s)'].isin(weeks_lists[-1])]
        file_brand_total = file_brand[file_brand['Time Period(s)'].isin(weeks_lists[-1])]
    
    brand_total = sum_calculation(file_brand_total, ytd_colname)
    grand_total = sum_calculation(file_total, ytd_colname)
    
    total = brand_total / grand_total * 100
        
    return ds_ytd_table, total


def ratio_calculation(file, file_brand, table_name, brand_name, weeks_lists, size_list, week_bf_curwk, cur_year, ytd_colname, size_price):
    #被除数
    if table_name == 'Remaining Retail':
        if size_price == 'Size Cluster':
            ds_in_table = file_brand[(file_brand['Time Period(s)'] == weeks_lists[-1][week_bf_curwk]) 
                                     & (file_brand[size_price].isin(size_list))
                                     & (file_brand['Outlet'] == 'Remaining Retail')]
        else:
            ds_in_table = file_brand[(file_brand['Time Period(s)'] == weeks_lists[-1][week_bf_curwk]) 
                                     & (file_brand[size_price].isin(price_list))
                                     & (file_brand['Outlet'] == 'Remaining Retail')]
            
            
    else:
        if size_price == 'Size Cluster':
            ds_in_table = file_brand[(file_brand['Time Period(s)'] == weeks_lists[-1][week_bf_curwk]) 
                                     & (file_brand[size_price].isin(size_list))]
        else:
            ds_in_table = file_brand[(file_brand['Time Period(s)'] == weeks_lists[-1][week_bf_curwk]) 
                                     & (file_brand[size_price].isin(price_list))]
        
    #底
    if brand_name == 'Industry':
        if table_name == 'Remaining Retail':
            temp1 = file[(file['Time Period(s)'] == weeks_lists[-1][week_bf_curwk])
                        & (file['Outlet'] == 'Remaining Retail')]
        else:
            temp1 = file[file['Time Period(s)'] == weeks_lists[-1][week_bf_curwk]]
        ds_in_table_sum = sum_calculation(temp1, ytd_colname)
    #brand
    else:
        if size_price == 'Size Cluster' and table_name == 'Remaining Retail':
            temp1 = file[(file['Time Period(s)'] == weeks_lists[-1][week_bf_curwk]) 
                         & (file[size_price].isin(size_list))
                         & (file['Outlet'] == 'Remaining Retail')]
              
            
        elif size_price == 'Size Cluster':
            temp1 = file[(file['Time Period(s)'] == weeks_lists[-1][week_bf_curwk]) 
                         & (file[size_price].isin(size_list))]
             
            
        else:
#             temp1 = file_brand[(file_brand['Time Period(s)'] == weeks_lists[-1][week_bf_curwk]) 
#                          & (file_brand[size_price].isin(price_list))]
            temp1 = file[(file['Time Period(s)'] == weeks_lists[-1][week_bf_curwk])
                         & (file[size_price].isin(price_list))]

            
        ds_in_table_sum = temp1.groupby(size_price)[ytd_colname].sum().reset_index()
        if size_price == 'Size Cluster':
            ds_in_table_sum = fix_dataframe(ds_in_table_sum, size_price, size_list)
        else:
            ds_in_table_sum = fix_dataframe(ds_in_table_sum, size_price, price_list)
        ds_in_table_sum = ds_in_table_sum[ytd_colname]  
        
    ds_in_table_gb = ds_in_table.groupby(size_price)[ytd_colname].sum().reset_index()
    
    if size_price == 'Size Cluster':
        ds_in_table_gb = fix_dataframe(ds_in_table_gb, size_price, size_list)
    else:
        ds_in_table_gb = fix_dataframe(ds_in_table_gb, size_price, price_list)
        
        
    if table_name == 'Unit number':
        ds_in_table_gb[f'{cur_year - 2000}W{len(weeks_lists[-1])+week_bf_curwk+1}'] = ds_in_table_gb[ytd_colname]
        
    else:
        if size_price == 'Price Cluster':
            ds_in_table_gb[f'{cur_year - 2000}W{len(weeks_lists[-1])+week_bf_curwk+1}'] = (ds_in_table_gb[ytd_colname] / ds_in_table_sum) * 100
            lst = ['500$+', 0]
            if brand_name == 'Industry':
                file_500pls_sum = file[(file['Time Period(s)'] == weeks_lists[-1][week_bf_curwk])
                                       & (file[size_price].isin(['500$-700$', '700$-800$','800$-1000$',
                                                                 '1000$-1500$','1500$-2000$','2000$+']))].sum()
                file_500pls_sum = file_500pls_sum['Dollars']
                
                file_500pls_sum_overall = file[(file['Time Period(s)'] == weeks_lists[-1][week_bf_curwk])
                                               & (file[size_price].isin(price_list))].sum()
                file_500pls_sum_overall = file_500pls_sum_overall['Dollars']
                
            else:
                file_500pls_sum = file_brand[(file_brand['Time Period(s)'] == weeks_lists[-1][week_bf_curwk])
                                             & (file_brand[size_price].isin(['500$-700$', '700$-800$','800$-1000$',
                                                                             '1000$-1500$','1500$-2000$','2000$+']))].sum()
                file_500pls_sum = file_500pls_sum['Dollars']
                file_500pls_sum_overall = file[(file['Time Period(s)'] == weeks_lists[-1][week_bf_curwk])
                                               & (file[size_price].isin(['500$-700$', '700$-800$','800$-1000$',
                                                                         '1000$-1500$','1500$-2000$','2000$+']))].sum()
                file_500pls_sum_overall = file_500pls_sum_overall['Dollars']
                
            result_500pls = file_500pls_sum / file_500pls_sum_overall * 100
            lst.append(result_500pls)
            lst_df = pd.DataFrame([lst], columns=ds_in_table_gb.columns)
            ds_in_table_gb = pd.concat([lst_df, ds_in_table_gb], ignore_index=True)
        else:
            ds_in_table_gb[f'{cur_year - 2000}W{len(weeks_lists[-1])+week_bf_curwk+1}'] = (ds_in_table_gb[ytd_colname] / ds_in_table_sum) * 100
        
    ds_in_table_gb = ds_in_table_gb.drop(ytd_colname, axis=1)
    
    if table_name == 'Remaining Retail':
        file_total = file[(file['Time Period(s)'] == weeks_lists[-1][week_bf_curwk]) 
                          & (file['Outlet'] == 'Remaining Retail')]
        file_brand_total = file_brand[(file_brand['Time Period(s)'] == weeks_lists[-1][week_bf_curwk])
                                      & (file_brand['Outlet'] == 'Remaining Retail')]
        
    else:
        
        file_total = file[file['Time Period(s)'] == weeks_lists[-1][week_bf_curwk]]
        file_brand_total = file_brand[file_brand['Time Period(s)'] == weeks_lists[-1][week_bf_curwk]]
    

    brand_total = sum_calculation(file_brand_total, ytd_colname)
    grand_total = sum_calculation(file_total, ytd_colname)
    
    total = brand_total / grand_total * 100
    
    return ds_in_table_gb, total

def col_merger(data, brand_name, table_name, weeks_lists, size_list, ytd_colname, size_price):
    
    if brand_name != 'Industry':
        data_brand = data[data['Brand'] == brand_name]
    else:
        data_brand = data
    
    in_3week_bf, total1 = ratio_calculation(data, data_brand, table_name, brand_name, weeks_lists, size_list, -4, 2023, ytd_colname, size_price)
    in_2week_bf, total2 = ratio_calculation(data, data_brand, table_name, brand_name, weeks_lists, size_list, -3, 2023, ytd_colname, size_price)
    in_1week_bf, total3 = ratio_calculation(data, data_brand, table_name, brand_name, weeks_lists, size_list, -2, 2023, ytd_colname, size_price)
    in_cur_week, total4 = ratio_calculation(data, data_brand, table_name, brand_name, weeks_lists, size_list, -1, 2023, ytd_colname, size_price)
    in_YTD_week, total0 = YTD_claculation(data, data_brand, table_name, brand_name, weeks_lists, size_list, cur_year, ytd_colname, size_price)

    #how to merge
    merged_df = in_YTD_week.merge(in_3week_bf, on=size_price).merge(in_2week_bf, on=size_price).merge(in_1week_bf, on=size_price).merge(in_cur_week, on=size_price)
    merged_df = merged_df.sort_index(ascending=False).reset_index()
    merged_df = merged_df.drop('index', axis=1)
    total_list = [round(total0, 2), round(total1, 2), round(total2, 2), round(total3, 2), round(total4, 2)]
    return merged_df.round(2), total_list


def df_connnect(file, table_name, weeks_lists, size_list, ytd_colname, size_price):
    total_lists = ['Total']                              
    merged_df1, total_list0= col_merger(file, 'Industry', table_name, weeks_lists, size_list, ytd_colname, size_price)
    [total_lists.append(i) for i in total_list0]
    
    merged_df2, total_list1= col_merger(file, 'Hisense', table_name, weeks_lists, size_list, ytd_colname, size_price)
    merged_df2 = merged_df2.drop(size_price, axis=1)
    [total_lists.append(i) for i in total_list1]
    
    
    merged_df3, total_list2= col_merger(file, 'TCL', table_name, weeks_lists, size_list, ytd_colname, size_price)
    merged_df3 = merged_df3.drop(size_price, axis=1)
    [total_lists.append(i) for i in total_list2]

    
    merged_df4, total_list3= col_merger(file, 'VIZIO', table_name, weeks_lists, size_list, ytd_colname, size_price)
    merged_df4 = merged_df4.drop(size_price, axis=1)
    [total_lists.append(i) for i in total_list3]
    
    merged_df5, total_list4= col_merger(file, 'Samsung', table_name, weeks_lists, size_list, ytd_colname, size_price)
    merged_df5 = merged_df5.drop(size_price, axis=1)
    [total_lists.append(i) for i in total_list4]
    
    merged_df6, total_list5 = col_merger(file, 'LG', table_name, weeks_lists, size_list, ytd_colname, size_price)
    merged_df6 = merged_df6.drop(size_price, axis=1)
    [total_lists.append(i) for i in total_list5]
    
    merged_df7, total_list6 = col_merger(file, 'Sony', table_name, weeks_lists, size_list, ytd_colname, size_price)
    merged_df7 = merged_df7.drop(size_price, axis=1)
    [total_lists.append(i) for i in total_list6]
    
    return  pd.concat([merged_df1, merged_df2, merged_df3, merged_df4, merged_df5, 
                           merged_df6, merged_df7], axis=1), total_lists

goodday_ds, total_lists = df_connnect(file, None, weeks_lists, size_list, 'Dollars','Size Cluster')
print(total_lists)
# goodday_ds_RR = goodday_ds
goodday_ds_finale = pd.DataFrame([total_lists], columns=goodday_ds.columns)
goodday_ds = pd.concat([goodday_ds_finale, goodday_ds], ignore_index=True)

goodday_ds_temp = goodday_ds.iloc[:,1:]
goodday_ds_temp[goodday_ds_temp < 0] = 0.0
goodday_ds_temp.insert(0, 'Size Cluster', goodday_ds['Size Cluster'])


goodday_ds_final = goodday_ds_temp.applymap(lambda x: str(x) + '%')
goodday_ds_final = goodday_ds_final.drop('Size Cluster', axis=1)
goodday_ds_final.insert(0, 'Size Cluster', goodday_ds_temp['Size Cluster'])
goodday_ds_final

['Total', 100.0, 100.0, 100.0, 100.0, 100.0, 8.71, 8.19, 8.84, 9.41, 9.88, 8.16, 8.71, 8.36, 8.57, 8.66, 7.23, 6.66, 7.62, 8.48, 7.9, 32.84, 33.84, 32.58, 31.03, 31.68, 19.38, 18.03, 17.7, 16.96, 17.45, 8.99, 8.31, 8.01, 8.21, 8.46]

,Size Cluster,2023YTD,23W29,23W30,23W31,23W32,2023YTD,23W29,23W30,23W31,...,2023YTD,23W29,23W30,23W31,23W32,2023YTD,23W29,23W30,23W31,23W32
0,Total,100.0%,100.0%,100.0%,100.0%,100.0%,8.71%,8.19%,8.84%,9.41%,...,19.38%,18.03%,17.7%,16.96%,17.45%,8.99%,8.31%,8.01%,8.21%,8.46%
1,77+,12.63%,12.85%,13.88%,12.65%,12.5%,0.99%,1.78%,3.98%,4.29%,...,36.61%,33.99%,31.1%,29.78%,29.52%,19.74%,17.35%,16.57%,19.39%,19.61%
2,75,11.96%,11.61%,11.63%,11.9%,12.4%,7.85%,8.04%,8.73%,10.86%,...,13.98%,12.46%,12.67%,14.46%,15.42%,10.26%,10.34%,10.13%,10.65%,11.24%
3,70,3.09%,2.24%,2.88%,2.95%,2.26%,5.21%,11.77%,9.89%,10.65%,...,23.23%,21.86%,18.97%,12.38%,12.67%,0.0%,0.0%,0.0%,0.0%,0.0%
4,65,24.79%,25.64%,25.28%,24.31%,23.85%,5.89%,6.44%,6.98%,5.94%,...,23.22%,21.11%,19.68%,20.28%,21.4%,12.21%,10.57%,9.83%,10.23%,10.5%
5,55-58,18.05%,20.69%,18.81%,19.36%,19.93%,15.13%,11.65%,12.82%,13.09%,...,18.88%,16.94%,17.37%,16.45%,16.8%,8.29%,6.98%,6.92%,6.6%,6.72%
6,50,10.13%,8.21%,8.63%,9.13%,9.07%,9.29%,9.76%,9.19%,9.6%,...,10.01%,10.88%,12.92%,12.03%,11.83%,2.64%,2.91%,2.91%,2.53%,2.67%
7,43,7.95%,7.78%,7.4%,7.86%,7.99%,11.85%,8.54%,9.87%,11.51%,...,11.98%,12.09%,11.77%,10.13%,12.25%,3.08%,3.06%,3.49%,3.17%,3.48%
8,40,3.03%,3.15%,3.15%,3.44%,3.74%,37.73%,32.89%,34.47%,36.49%,...,0.0%,0.0%,0.0%,0.0%,0.0%,-0.0%,0.0%,0.0%,0.0%,0.0%
9,32,5.26%,4.83%,4.99%,5.48%,5.65%,5.19%,4.1%,4.09%,4.43%,...,4.51%,3.75%,4.23%,4.12%,4.28%,0.51%,0.78%,0.62%,0.6%,0.52%

In [5]:
goodday_us, total_lists = df_connnect(file, None, weeks_lists, size_list, 'Units ','Size Cluster')
print(total_lists)

goodday_us_finale = pd.DataFrame([total_lists], columns=goodday_us.columns)
goodday_us = pd.concat([goodday_us_finale, goodday_us], ignore_index=True)

goodday_us_temp = goodday_us.iloc[:,1:]
goodday_us_temp[goodday_us_temp < 0] = 0.0
goodday_us_temp.insert(0, 'Size Cluster', goodday_us['Size Cluster'])


goodday_us_final = goodday_us_temp.applymap(lambda x: str(x) + '%')
goodday_us_final = goodday_us_final.drop('Size Cluster', axis=1)
goodday_us_final.insert(0, 'Size Cluster', goodday_us_temp['Size Cluster'])
goodday_us_final

['Total', 100.0, 100.0, 100.0, 100.0, 100.0, 12.94, 11.82, 12.08, 12.85, 13.73, 11.78, 12.43, 11.52, 11.35, 11.7, 11.17, 10.64, 11.62, 12.46, 12.33, 19.22, 18.16, 17.55, 17.46, 18.33, 10.58, 9.36, 9.34, 8.88, 9.4, 2.85, 2.58, 2.44, 2.4, 2.5]

,Size Cluster,2023YTD,23W29,23W30,23W31,23W32,2023YTD,23W29,23W30,23W31,...,2023YTD,23W29,23W30,23W31,23W32,2023YTD,23W29,23W30,23W31,23W32
0,Total,100.0%,100.0%,100.0%,100.0%,100.0%,12.94%,11.82%,12.08%,12.85%,...,10.58%,9.36%,9.34%,8.88%,9.4%,2.85%,2.58%,2.44%,2.4%,2.5%
1,77+,2.5%,2.52%,2.8%,2.44%,2.4%,2.07%,4.06%,9.0%,9.51%,...,37.47%,33.69%,30.45%,27.88%,27.57%,17.2%,15.14%,14.0%,16.68%,17.05%
2,75,5.22%,5.08%,5.1%,5.25%,5.53%,11.71%,11.82%,12.16%,15.18%,...,14.92%,13.1%,12.69%,14.82%,15.84%,6.59%,6.62%,6.25%,6.36%,6.75%
3,70,2.18%,1.63%,2.18%,2.03%,1.59%,6.43%,14.13%,11.1%,12.75%,...,22.63%,21.9%,17.78%,11.84%,11.46%,0.0%,0.0%,0.0%,0.0%,0.0%
4,65,15.29%,16.05%,16.24%,15.27%,14.21%,8.99%,9.97%,9.98%,7.99%,...,16.62%,13.9%,12.91%,13.93%,15.57%,6.38%,5.0%,4.62%,4.58%,4.9%
5,55-58,16.93%,19.08%,17.93%,18.14%,19.07%,21.81%,17.53%,18.14%,18.33%,...,13.51%,11.29%,11.43%,10.61%,10.7%,3.91%,3.23%,3.0%,2.99%,2.99%
6,50,13.96%,10.91%,11.34%,11.78%,11.56%,10.31%,11.11%,10.39%,11.13%,...,8.25%,8.97%,10.84%,10.21%,10.14%,1.21%,1.4%,1.38%,1.2%,1.33%
7,43,12.95%,12.98%,11.72%,12.44%,12.48%,14.54%,10.32%,12.37%,14.09%,...,9.87%,10.03%,9.78%,8.02%,10.47%,1.36%,1.36%,1.56%,1.42%,1.62%
8,40,6.95%,7.6%,7.38%,7.9%,8.76%,41.13%,35.89%,37.92%,40.27%,...,0.0%,0.0%,0.0%,0.0%,0.0%,-0.0%,0.0%,0.0%,0.0%,0.0%
9,32,16.81%,16.45%,16.82%,17.65%,18.06%,5.28%,4.01%,3.96%,4.35%,...,3.59%,2.8%,3.11%,3.08%,3.24%,0.2%,0.31%,0.25%,0.24%,0.21%

In [6]:
goodday_RR, total_lists = df_connnect(file, 'Remaining Retail', weeks_lists, size_list, 'Units ','Size Cluster')

goodday_RR_finale = pd.DataFrame([total_lists], columns=goodday_RR.columns)
goodday_RR = pd.concat([goodday_RR_finale, goodday_RR], ignore_index=True)

goodday_RR_temp = goodday_RR.iloc[:,1:]
goodday_RR_temp[goodday_RR_temp < 0] = 0.0
goodday_RR_temp.insert(0, 'Size Cluster', goodday_RR['Size Cluster'])


goodday_RR_final = goodday_RR_temp.applymap(lambda x: str(x) + '%')
goodday_RR_final = goodday_RR_final.drop('Size Cluster', axis=1)
goodday_RR_final.insert(0, 'Size Cluster', goodday_RR_temp['Size Cluster'])
goodday_RR_final

,Size Cluster,2023YTD,23W29,23W30,23W31,23W32,2023YTD,23W29,23W30,23W31,...,2023YTD,23W29,23W30,23W31,23W32,2023YTD,23W29,23W30,23W31,23W32
0,Total,100.0%,100.0%,100.0%,100.0%,100.0%,8.91%,6.79%,7.23%,8.19%,...,16.1%,12.89%,13.06%,12.7%,13.44%,5.95%,4.61%,4.69%,4.79%,4.92%
1,77+,4.6%,3.95%,4.39%,3.9%,3.85%,1.63%,3.84%,3.7%,3.57%,...,37.16%,32.39%,29.33%,27.33%,26.72%,19.59%,17.29%,17.22%,21.0%,20.98%
2,75,5.92%,5.71%,6.02%,6.52%,6.91%,7.41%,10.3%,10.77%,15.5%,...,17.2%,15.3%,14.87%,18.17%,19.35%,11.87%,10.46%,10.06%,10.17%,10.66%
3,70,2.13%,1.3%,1.44%,1.44%,1.29%,2.95%,2.21%,1.7%,1.77%,...,24.94%,24.77%,24.71%,17.81%,17.08%,0.0%,0.0%,0.0%,0.0%,0.0%
4,65,17.92%,16.95%,17.64%,16.72%,16.77%,9.56%,13.43%,14.31%,10.14%,...,23.59%,20.21%,19.05%,21.18%,21.8%,11.33%,8.33%,7.99%,8.16%,8.01%
5,55-58,18.67%,19.95%,18.57%,19.26%,19.63%,11.71%,6.8%,7.54%,7.45%,...,19.46%,15.43%,16.67%,15.49%,15.89%,7.44%,5.59%,5.67%,5.69%,5.74%
6,50,11.87%,9.63%,9.6%,9.9%,10.11%,13.04%,12.14%,11.76%,13.27%,...,12.41%,12.16%,13.62%,12.13%,12.34%,3.01%,2.88%,3.24%,2.9%,3.03%
7,43,12.53%,14.02%,11.85%,13.15%,12.99%,5.88%,2.18%,3.47%,6.81%,...,16.35%,12.62%,13.56%,10.23%,13.83%,2.95%,2.29%,3.04%,2.71%,3.08%
8,40,5.86%,6.61%,5.91%,6.71%,8.06%,22.21%,9.27%,9.69%,19.03%,...,0.0%,0.0%,0.0%,0.0%,0.0%,-0.0%,0.0%,0.0%,0.0%,0.0%
9,32,12.68%,13.49%,14.23%,15.08%,14.82%,6.68%,2.24%,2.49%,2.66%,...,2.96%,2.22%,2.39%,2.19%,2.18%,0.55%,0.67%,0.58%,0.57%,0.49%

In [7]:
goodday_BPI = goodday_ds_temp.iloc[:, 1:] / goodday_us_temp.iloc[:, 1:] * 100
goodday_BPI.fillna(0, inplace=True)
goodday_BPI = goodday_BPI.round().astype('int')
goodday_BPI.insert(0, 'Size Cluster', goodday_RR['Size Cluster'])


goodday_BPI

,Size Cluster,2023YTD,23W29,23W30,23W31,23W32,2023YTD,23W29,23W30,23W31,...,2023YTD,23W29,23W30,23W31,23W32,2023YTD,23W29,23W30,23W31,23W32
0,Total,100,100,100,100,100,67,69,73,73,...,183,193,190,191,186,315,322,328,342,338
1,77+,505,510,496,518,521,48,44,44,45,...,98,101,102,107,107,115,115,118,116,115
2,75,229,229,228,227,224,67,68,72,72,...,94,95,100,98,97,156,156,162,167,167
3,70,142,137,132,145,142,81,83,89,84,...,103,100,107,105,111,0,0,0,0,0
4,65,162,160,156,159,168,66,65,70,74,...,140,152,152,146,137,191,211,213,223,214
5,55-58,107,108,105,107,105,69,66,71,71,...,140,150,152,155,157,212,216,231,221,225
6,50,73,75,76,78,78,90,88,88,86,...,121,121,119,118,117,218,208,211,211,201
7,43,61,60,63,63,64,81,83,80,82,...,121,121,120,126,117,226,225,224,223,215
8,40,44,41,43,44,43,92,92,91,91,...,0,0,0,0,0,0,0,0,0,0
9,32,31,29,30,31,31,98,102,103,102,...,126,134,136,134,132,255,252,248,250,248

In [8]:
#500+?
goodday_PB, total_lists = df_connnect(file, None, weeks_lists, size_list, 'Dollars','Price Cluster')

goodday_PB_finale = pd.DataFrame([total_lists], columns=goodday_PB.columns)
goodday_PB = pd.concat([goodday_PB_finale, goodday_PB], ignore_index=True)

goodday_PB_temp = goodday_PB.iloc[:,1:]
goodday_PB_temp[goodday_PB_temp < 0] = 0.0
goodday_PB_temp.insert(0, 'Price Cluster', goodday_PB['Price Cluster'])


goodday_PB_final = goodday_PB_temp.applymap(lambda x: str(x) + '%')
goodday_PB_final = goodday_PB_final.drop('Price Cluster', axis=1)
goodday_PB_final.insert(0, 'Price Cluster', goodday_PB_temp['Price Cluster'])
goodday_PB_final

,Price Cluster,2023YTD,23W29,23W30,23W31,23W32,2023YTD,23W29,23W30,23W31,...,2023YTD,23W29,23W30,23W31,23W32,2023YTD,23W29,23W30,23W31,23W32
0,Total,100.0%,100.0%,100.0%,100.0%,100.0%,8.71%,8.19%,8.84%,9.41%,...,19.38%,18.03%,17.7%,16.96%,17.45%,8.99%,8.31%,8.01%,8.21%,8.46%
1,2000$+,10.59%,13.49%,13.68%,12.45%,12.86%,0.01%,0.0%,0.0%,0.0%,...,31.81%,28.71%,29.57%,29.88%,29.83%,19.65%,16.24%,16.02%,19.11%,19.47%
2,1500$-2000$,10.03%,9.21%,8.79%,6.93%,7.16%,0.31%,0.76%,1.57%,1.95%,...,29.66%,30.53%,27.24%,25.08%,24.47%,21.4%,17.74%,15.43%,20.62%,16.98%
3,1000$-1500$,10.62%,11.98%,10.31%,10.75%,10.29%,0.73%,0.86%,1.42%,1.67%,...,33.14%,29.3%,30.57%,30.94%,33.3%,20.18%,20.88%,24.01%,22.42%,24.69%
4,800$-1000$,5.34%,5.4%,4.2%,4.26%,4.8%,5.41%,10.35%,14.12%,14.3%,...,29.39%,22.34%,23.01%,21.88%,19.73%,18.48%,9.47%,10.06%,11.43%,18.59%
5,700$-800$,2.49%,3.62%,4.01%,3.83%,3.01%,4.97%,2.26%,11.31%,9.36%,...,20.76%,23.45%,18.84%,17.51%,1.79%,12.47%,11.53%,10.39%,9.82%,5.57%
6,500$-700$,10.22%,6.87%,6.98%,8.35%,8.24%,9.54%,13.73%,13.31%,14.14%,...,17.25%,12.47%,13.67%,15.66%,23.58%,10.59%,12.41%,13.33%,10.82%,10.93%
7,<500$,50.71%,49.42%,52.02%,53.43%,53.64%,14.23%,13.01%,12.65%,13.0%,...,11.18%,9.96%,10.43%,9.86%,10.25%,0.47%,0.4%,0.41%,0.43%,0.45%
8,500$+,49.29%,50.58%,47.98%,46.57%,46.36%,3.04%,3.47%,4.71%,5.29%,...,27.82%,25.92%,25.57%,25.11%,25.8%,17.75%,16.03%,16.25%,17.15%,17.73%

In [9]:
goodday_UN, _ = df_connnect(file, 'Unit number', weeks_lists, size_list, 'Units ','Size Cluster')

goodday_UN_temp = goodday_UN.iloc[:,1:]
sums = goodday_UN_temp.sum() #series
sums = list(sums)
sums.insert(0,'Total')

goodday_UN_finale = pd.DataFrame([sums], columns=goodday_UN.columns)
goodday_UN = pd.concat([goodday_UN_finale, goodday_UN], ignore_index=True)
goodday_UN

,Size Cluster,2023YTD,23W29,23W30,23W31,23W32,2023YTD,23W29,23W30,23W31,...,2023YTD,23W29,23W30,23W31,23W32,2023YTD,23W29,23W30,23W31,23W32
0,Total,19196914.0,593115.0,556121.0,603864.0,610220.0,2676673.0,75947.0,73405.0,83496.0,...,2083767.0,57811.0,54276.0,55219.0,58876.0,577286.0,16166.0,14472.0,15228.0,15903.0
1,77+,517545.0,16187.0,16994.0,15859.0,15621.0,10711.0,657.0,1529.0,1508.0,...,193924.0,5454.0,5174.0,4422.0,4307.0,88995.0,2450.0,2380.0,2645.0,2664.0
2,75,1080712.0,32637.0,30990.0,34127.0,36054.0,126601.0,3859.0,3768.0,5179.0,...,161283.0,4275.0,3933.0,5059.0,5711.0,71258.0,2161.0,1937.0,2170.0,2433.0
3,70,450016.0,10463.0,13248.0,13189.0,10378.0,28919.0,1478.0,1471.0,1682.0,...,101833.0,2291.0,2355.0,1561.0,1189.0,-90.0,0.0,0.0,-1.0,0.0
4,65,3162419.0,103140.0,98710.0,99270.0,92595.0,284288.0,10283.0,9847.0,7933.0,...,525553.0,14334.0,12740.0,13826.0,14415.0,201844.0,5161.0,4563.0,4548.0,4536.0
5,55-58,3503033.0,122596.0,108995.0,117923.0,124237.0,764042.0,21485.0,19769.0,21614.0,...,473268.0,13835.0,12458.0,12512.0,13296.0,136964.0,3956.0,3275.0,3527.0,3710.0
6,50,2888477.0,70145.0,68896.0,76577.0,75304.0,297875.0,7796.0,7158.0,8520.0,...,238434.0,6295.0,7466.0,7821.0,7634.0,35018.0,980.0,954.0,916.0,1000.0
7,43,2678959.0,83390.0,71215.0,80834.0,81298.0,389491.0,8610.0,8806.0,11391.0,...,264542.0,8367.0,6968.0,6479.0,8512.0,36309.0,1133.0,1112.0,1146.0,1317.0
8,40,1437550.0,48870.0,44868.0,51348.0,57088.0,591195.0,17541.0,17013.0,20676.0,...,0.0,0.0,0.0,0.0,0.0,-4.0,0.0,0.0,0.0,0.0
9,32,3478203.0,105687.0,102205.0,114737.0,117645.0,183551.0,4238.0,4044.0,4993.0,...,124930.0,2960.0,3182.0,3539.0,3812.0,6992.0,325.0,251.0,277.0,243.0

In [10]:
goodday_DN, _ = df_connnect(file, 'Unit number', weeks_lists, size_list, 'Dollars','Size Cluster')
goodday_DN_temp = goodday_DN.iloc[:,1:]
sums = goodday_DN_temp.sum()
sums = list(sums)
sums.insert(0,'Total')

goodday_DN_finale = pd.DataFrame([sums], columns=goodday_DN.columns)
goodday_DN = pd.concat([goodday_DN_finale, goodday_DN], ignore_index=True)
goodday_DN_asp = goodday_DN.iloc[:,1:]
goodday_UN_asp = goodday_UN.iloc[:,1:]
goodday_ASP = goodday_DN_asp / goodday_UN_asp
goodday_ASP.fillna(0, inplace=True)
goodday_ASP = goodday_ASP.round().astype('int')
goodday_ASP = goodday_ASP.applymap(lambda x: '$' + str(x))
goodday_ASP.insert(0, 'Size Cluster', goodday_DN['Size Cluster'])
goodday_ASP

,Size Cluster,2023YTD,23W29,23W30,23W31,23W32,2023YTD,23W29,23W30,23W31,...,2023YTD,23W29,23W30,23W31,23W32,2023YTD,23W29,23W30,23W31,23W32
0,Total,$404,$412,$404,$386,$387,$261,$272,$280,$271,...,$706,$751,$719,$700,$686,$1217,$1262,$1255,$1262,$1257
1,77+,$1952,$2000,$1901,$1917,$1942,$932,$877,$841,$866,...,$1907,$2017,$1942,$2048,$2079,$2241,$2292,$2250,$2229,$2233
2,75,$885,$896,$873,$838,$835,$593,$610,$627,$600,...,$829,$853,$872,$817,$812,$1378,$1400,$1415,$1403,$1391
3,70,$550,$540,$506,$537,$528,$446,$450,$451,$449,...,$564,$539,$540,$562,$584,$968,$0,$0,$1000,$0
4,65,$627,$626,$596,$588,$625,$411,$404,$417,$437,...,$877,$951,$909,$857,$859,$1200,$1323,$1267,$1314,$1340
5,55-58,$412,$425,$402,$394,$389,$286,$283,$284,$282,...,$576,$638,$610,$612,$611,$874,$920,$924,$871,$876
6,50,$281,$295,$291,$287,$292,$253,$259,$258,$247,...,$340,$358,$347,$337,$341,$612,$615,$613,$606,$587
7,43,$237,$235,$242,$234,$238,$194,$194,$193,$191,...,$288,$283,$291,$295,$279,$540,$529,$540,$522,$511
8,40,$169,$162,$163,$161,$159,$155,$149,$148,$146,...,$0,$0,$0,$0,$0,$322,$0,$0,$0,$0
9,32,$121,$115,$114,$115,$116,$119,$118,$117,$117,...,$152,$154,$154,$153,$154,$305,$293,$289,$287,$294

In [11]:
def multiple_dfs(df_list, sheets, file_name, spaces):
    writer = pd.ExcelWriter(file_name,engine='xlsxwriter')   
    row = 0
    for dataframe in df_list:
        dataframe.to_excel(writer,sheet_name=sheets,startrow=row , startcol=0)   
        row = row + len(dataframe.index) + spaces + 1
    writer.save()

date = datetime.today().strftime('%Y-%m-%d')
dfs = [goodday_ds_final,goodday_us_final, goodday_RR_final, goodday_BPI,goodday_PB_final,goodday_UN,goodday_ASP]

multiple_dfs(dfs, 'Sheet1', f'Market Share {date}.xlsx', 3)

C:\Users\jianhui.ding\AppData\Local\Temp\ipykernel_1764\29014255.py:7: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()